<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add company! </title>
</head>
<nav>
    <a href = "/">home</a>
    <a href="/companies">company info</a>
    <a href = 'companies/edit/comp'> Edit</a>


</nav>
<body>
    <h1>this is the add company page!</h1>
    <div>
        <h3>add company!</h3>
        <form action = "/" method = "post">
            <input type = "text" name = "compName" placeholder="company name">
            <input type = "text" name = "description" placeholder="description">
            <button type = "submit"> Add!</button>
        </form>
    </div>
    
</body>
</html>